/node_modules
/public/css
/public/js
/public/media
/public/plugins
/public/upload/*
/storage/*.key
/storage/*.txt
/storage/*.log
/storage/framework/cache
/storage/framework/session
/storage/logs
/public/storage
/vendor
.env
.env.backup
.idea/workspace.xml
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

